@{
    ViewData["Title"] = "Hizmetlerimiz";
}

<div class="container my-5">
    <h2 class="hizmetlerimiz-baslik mb-4">Hizmetlerimiz</h2>

    <div class="row">
        <!-- 1. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet1.jpg" alt="Hizmet 1" class="img-fluid rounded shadow" />
        </div>
        <!-- 2. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet2.jpg" alt="Hizmet 2" class="img-fluid rounded shadow" />
        </div>
        <!-- 3. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet3.jpg" alt="Hizmet 3" class="img-fluid rounded shadow" />
        </div>
    </div>

    <div class="row">
        <!-- 4. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet4.jpg" alt="Hizmet 4" class="img-fluid rounded shadow" />
        </div>
        <!-- 5. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet5.jpg" alt="Hizmet 5" class="img-fluid rounded shadow" />
        </div>
        <!-- 6. Fotoğraf -->
        <div class="col-md-4 mb-4">
            <img src="~/images/hizmet6.jpg" alt="Hizmet 6" class="img-fluid rounded shadow" />
        </div>
    </div>

    <!-- Randevu Al Butonu -->
    <div class="text-center mt-4">
        <a href="/Randevu/RandevuAl" class="btn btn-primary btn-lg">Randevu Al</a>
    </div>
</div>
