@model odevweb.Models.Islem

@{
    ViewData["Title"] = "IslemCreate";
}

<h1>IslemCreate</h1>

<h4>Islem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IslemKaydet" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IslemAd" class="control-label"></label>
                <input asp-for="IslemAd" class="form-control" />
                <span asp-validation-for="IslemAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sure" class="control-label"></label>
                <input asp-for="Sure" type="number" class="form-control" />
                <span asp-validation-for="Sure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ucret" class="control-label"></label>
                <input asp-for="Ucret" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Ucret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IslemIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
