@model odevweb.Models.Personel

@{
    ViewData["Title"] = "PersonelEkle";
}

<h1>PersonelEkle</h1>

<h4>Personel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonelEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzmanlik" class="control-label"></label>
                <input asp-for="Uzmanlik" class="form-control" />
                <span asp-validation-for="Uzmanlik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IslemId" class="control-label"></label>
                <select asp-for="IslemId" class ="form-control" asp-items="ViewBag.IslemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonelListesi">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
