@model odevweb.Models.Personel

@{
    ViewData["Title"] = "PersonelEdit";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 text-secondary">Personel Düzenle</h2>

    <div class="card shadow-lg">
        <div class="card-body">
            <form asp-action="PersonelEdit">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="PersonelId" />

                <div class="form-group mb-3">
                    <label asp-for="PersonelAd" class="form-label fw-bold">Ad</label>
                    <input asp-for="PersonelAd" class="form-control" />
                    <span asp-validation-for="PersonelAd" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PersonelSoyad" class="form-label fw-bold">Soyad</label>
                    <input asp-for="PersonelSoyad" class="form-control" />
                    <span asp-validation-for="PersonelSoyad" class="text-danger"></span>
                </div>

                <div class="form-group mb-4">
                    <label asp-for="IslemId" class="form-label fw-bold">İşlem</label>
                    <select asp-for="IslemId" class="form-select" asp-items="ViewBag.IslemId"></select>
                    <span asp-validation-for="IslemId" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-action="PersonelIndex" class="btn btn-secondary">Listeye Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
