@model odevweb.Models.Personel

@{
    ViewData["Title"] = "PersonelEdit";
}

<h1>PersonelEdit</h1>

<h4>Personel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonelEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonelId" />
            <div class="form-group">
                <label asp-for="PersonelAd" class="control-label"></label>
                <input asp-for="PersonelAd" class="form-control" />
                <span asp-validation-for="PersonelAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelSoyad" class="control-label"></label>
                <input asp-for="PersonelSoyad" class="form-control" />
                <span asp-validation-for="PersonelSoyad" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Uzmanlik" class="control-label"></label>
                <input asp-for="Uzmanlik" class="form-control" />
                <span asp-validation-for="Uzmanlik" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="IslemId" class="control-label"></label>
                <select asp-for="IslemId" class="form-control" asp-items="ViewBag.IslemId"></select>
                <span asp-validation-for="IslemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonelIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
